# 시리즈 연산

## 브로드 캐스팅

In [1]:
import pandas as pd

s = pd.Series(data=[100, 200, 300])
s

0    100
1    200
2    300
dtype: int64

In [2]:
s + 10

0    110
1    210
2    310
dtype: int64

## 사칙연산

In [6]:
high = pd.Series([51500, 51200, 52500, 51500, 51500])
low = pd.Series([50700, 50500, 50500, 50800, 50700])

In [7]:
diff = high - low
diff

0     800
1     700
2    2000
3     700
4     800
dtype: int64

In [9]:
high = pd.Series(data=[51500, 51200, 52500], index=["5/1", "5/2", "5/3"])
low = pd.Series(data=[50700, 50500, 50500], index=["5/1", "5/2", "5/4"])

In [10]:
diff = high - low
diff

5/1    800.0
5/2    700.0
5/3      NaN
5/4      NaN
dtype: float64

## 시리즈 비교 연산

In [12]:
from pandas import Series

s = Series(data=[100, 200, 300, 400, 500])
cond = s > 300
cond

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [13]:
s[cond]

3    400
4    500
dtype: int64

## 시리즈 필터링

In [14]:
시가 = Series([100, 200, 300, 400, 600])
종가 = Series([100, 300, 400, 500, 600])

In [15]:
조건 = (시가 >= 300)
조건

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [16]:
종가[조건]

2    400
3    500
4    600
dtype: int64

## 연습 문제

In [17]:
저가 = Series([10, 200, 200, 400, 600])
고가 = Series([100, 300, 400, 500, 600])

조건 = (고가 - 저가) >= 100
고가[조건]

1    300
2    400
3    500
dtype: int64

In [18]:
data = [93000, 82400, 99100, 81000, 72300]
index = ['05/14', '05/15', '05/16', '05/17', '05/18']
종가 = pd.Series(data=data, index=index)
종가

05/14    93000
05/15    82400
05/16    99100
05/17    81000
05/18    72300
dtype: int64

In [19]:
조건 = (종가 >= 80000) & (종가 < 90000)
종가[조건]

05/15    82400
05/17    81000
dtype: int64

In [20]:
종가[조건].index

Index(['05/15', '05/17'], dtype='object')

In [21]:
for date in 종가[조건].index:
    print(date)

05/15
05/17